
.btn {
    display: inline-block;
    position: relative;
    color: var(--future-tape-color, black);
		max-width: -webkit-fit-content;
		max-width: -moz-fit-content;
		max-width: fit-content;
  }

  .btn::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--future-tape-color, black);
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .btn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }